<a href="https://colab.research.google.com/github/OSGeoLabBp/tutorials/blob/master/english/python/python_in_a_nutshell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python in a Nutshell

##Introduction

Python is a widespread and popular script language, which is capable of supporting object oriented programming, and that has several extending modules, for example GDAL, OGR, numpy, OpenCV, open3d, etc. While Python run time environment is available on different operating systems (e.g. Linux, OS X, Android, Windows), there are many end user programs which use Python as a script language to extend their functionalities (e.g. GIMP, QGIS, Apache, PostgreSQL, GRASS, ...). For those programs, the Python interpreter compiles the source code into the so-called byte code, capable to run the programs quickly, faster than some other script languages.

The Python 2 version reached the end of its lifetime, having its development closed in 2020. The Version 3 development started in 2008, and the two versions are incompatibile. Nowadays, everybody uses the new version for new projects, but there are many projects that have not been upgraded to the new version yet. The examples of this document were tested in Python 3, but probably they also work in Python 2.7.

Depending on the operating system, there are different installation options. For GIS users on Windows, the OSGeo4W is the optimal choice, having the GIS programs Python installed with many extension modules. Python is available in the OSGeo4W Shell window!

***Did you know?***
*The language’s name isn’t about snakes, but about the popular British comedy troupe Monty Python.*
*If you are interested you can find more interesting facts about python at the following [link](https://data-flair.training/blogs/facts-about-python-programming/).*

##Basics

In [Jupyter notebook](https://jupyter.org), it is possible to execute Python commands in code blocks. The backgroud of a code block is grey, having a triangle at the top left corner. After clicking on the triangle to execute the code block, the results are displayed below the code block. Comments start with '#' (hash mark).

Simple basic matemathical operations:

In [ ]:
5 * 4

20

In [ ]:
3 ** 4    # square

81

In [ ]:
(2 + 8) // 3    # integer division

3

In [ ]:
(2 + 8) / 3

3.3333333333333335

In [ ]:
56.12 // 12.34    # result is float!

4.0

The results of the expressions can be stored in variables:

In [ ]:
a = 5 * 4
l = True    # Bool value
c = None    # special undefined value
s = "Hello world"   # string
print(a, l, c, s)

20 True None Hello world

There is no automatic type conversion for variables and constants in Python (most of the script languages apply automatic type conversion, e.g. JavaScript, awk, Tcl). Therefore, the variable type is not explicitly given (no declaration), being set at the first assignment. We can query the type of a variable using **type** function.

In [ ]:
b = '16'  # a string variable
a + int(b)     # 'a' got its value in the previous code block
                # a + b won't work int + string

36

In the code block above, we tried to add an integer and a string value, an operation that is not supported.

In [ ]:
type(a)

int

In [ ]:
type(b)

str

In [ ]:
type(b) is str

True

In [ ]:
a + int(b)  # explicit type conversion helps

36

In [ ]:
a * b   # repeat string 'b' 'a' times

'1616161616161616161616161616161616161616'

In [ ]:
s[0]  # first character of a string, the value of s is 'Hello world'

'H'

In [ ]:
s[1:3]  # second and third characters

'el'

In [ ]:
s[:5]   # first five characters

'Hello'

In [ ]:
s[6:]   # from the sixth character to the end

'world'

In [ ]:
s[-1]   # last character

'd'

In [ ]:
s[-5:]  # last five characters

'world'

In [ ]:
len(s)    # length of string

11

In [ ]:
s[:5] + ' Dolly'   # concatenation of strings

'Hello Dolly'

Mathematical (trigonometrical) functions are in an external module. Given this, it is necessary to use the **import math** module.

In [ ]:
import math
math.sin(1)

0.8414709848078965

In [ ]:
print(f'{math.sin(1):6.4f}')  # formatted output

0.8415

Modules can be imported two ways. The **import** *module_name* will import everything from the module. It is possible to refer to a member of the module using *module_name*_*member_name*. The other method is used only when some specified memebers are imported, using **from** *module_name* **import** *member_name* form. In this case case, it is not necessary to put the module name in front of the member name, being careful to avoid name collision. In the second form, you specify a comma separated list of member names.

In [ ]:
from math import cos
cos(1)

0.5403023058681398

The modules usually have documentation where the available functions can be seen. If you would like to check these, use **help(*module_name*)**!

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

More information about modules also can be found on the internet. For example, the **math** module's functions can be seen on the following URL: https://docs.python.org/3/library/math.html. Remember, if you are not sure about something, Google is your friend!

##Python data structures

The base data types of Python can be divided into two groups, mutable and unmutable.

Mutable objects: data can be partially change in place.

list, set, dictionary

---

Immutable object: the stored data cannot be changed.

bool, int, float, string, tuple

The usage of simple variable types (e.g. bool, int, float) is similar to all other programming languages. We'll discuss only compound types (e.g. list, tuple, dictionary, set). From Python3, even simple data types are represented by objects.

###Lists

Lists are ordered and mutable Python container. Lists can contain elements of different types, even other lists. The items are indexed starting from zero.

In [ ]:
l0 = []       # create an empty list
l1 = list()   # create an empty list
l2 = ['apple', 5, 4] # differenc data types in the same list
print(l2[0])        # access memebers by index
print(l2[1:])       # index ranges similar to strings
print(len(l2))
l2[0] = 3           # lists are mutable
print(l2)
l2.append(5)        # extending list
print(l2)
l2[0:3] = [1]       # replace a range of list with another list
print(l2)
del l2[0]           # delete list item
print(l2)
l3 = [[1, 2], [6, 4]] # list of lists
print(l3[0], l3[0][1])
l4 = l3 + [3, 7]    # concatenating lists
print(l4)
l4 = l3 + [[3, 7]]
print(l4)

apple
[5, 4]
3
[3, 5, 4]
[3, 5, 4, 5]
[1, 5]
[5]
[1, 2] 2
[[1, 2], [6, 4], 3, 7]
[[1, 2], [6, 4], [3, 7]]

You can use **help(list)** to get more information about lists.

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

There are three operators related to lists:

*   **+** concatenate lists
*   **\*** repeat the list (similar to strings)
*   **in** is value in the list

Open a new code block and try the operators above. Studying Lists may help in trying some other methods of list objects (e.g. pop, sort, reverse)

###Tuples

List like immutable ordered data type.

In [ ]:
t = (65, 6.35)    # create a new tuple, brackets are not obligatory -> t = 65, 6.35
print(t[0])       # indexing
u = tuple()       # empty tuple
v = 2,            # comma is neccessary to creat a list of one item
print(v)

65
(2,)

###List comprehesion

List comprehension is an effective tool to apply the same operation for all elements of the list/tuple.

In [ ]:
l = [2, 6, -3, 4]
l2 = [x**2 for x in l]    # square of all mebers of the list into a new list
print(l2)
l3 = (i**0.5 for i in l if i > 0) # square root of positive members of list
print(l3)
print(tuple(l3))

[4, 36, 9, 16]
<generator object <genexpr> at 0x7fc1f20c6a50>
(1.4142135623730951, 2.449489742783178, 2.0)

The map function is similar, but a function can be applied for each member of the list.

In [ ]:
from math import sin
l4 = map(sin, l)
print(l4)
print(tuple(l4))
print([a for a in l if a % 2])    # odd numbers from the list

<map object at 0x7fc1f2060ee0>
(0.9092974268256817, -0.27941549819892586, -0.1411200080598672, -0.7568024953079282)
[-3]

###Sets

Sets are mutable unordered data types. It is simply possible to create a set from a string or a list.

In [ ]:
a = "abcabdseacbfds"
s = set(a)            # create a set repeated values stored once
print(s)
t = set((1, 3, 2, 4, 3, 2, 5, 1))
print(t)
e = set()             # empty set
u = set(['apple', 'plum', 'peach', 'apple'])
print(u)

{'b', 'd', 'f', 'c', 'e', 'a', 's'}
{1, 2, 3, 4, 5}
{'plum', 'peach', 'apple'}

There are different operators for sets, including difference, union, intersection and symmetrical difference.

In [ ]:
a = set('abcdefgh')
b = set('fghijklm')
print(a - b)          # difference of sets
print(a | b)          # union of sets
print(a & b)          # intersection of sets
print(a ^ b)          # symmetrical difference

{'b', 'd', 'a', 'e', 'c'}
{'g', 'b', 'd', 'h', 'f', 'k', 'l', 'c', 'e', 'm', 'i', 'a', 'j'}
{'g', 'f', 'h'}
{'b', 'd', 'k', 'l', 'a', 'm', 'e', 'i', 'c', 'j'}

###Dictionaries

Dictionaries are mutable unordered date types. Each member of a dictionary has a key value, which can be used as an index, that can be a string or a number. The members of a dictionary can be lists or dictionaries.

In [ ]:
dic = {}            # empty dictionary
dic['first'] = 4    # adding new key and value to the list
dic[5] = 123
print(dic)
dic['first'] = 'apple'  # new value for a key
print(dic)
print('first' in dic)   # is the key in dic?
d = {'b': 1, 12: 4, 'lista': [1, 5, 8]} # initialization
t = {(1,1): 2, (1,2): 4, (2,1): -1, (2,2): 6} # keys are tuples
print(t[1,1])

{'first': 4, 5: 123}
{'first': 'apple', 5: 123}
True
2

###Some restrictions for immutable objects:

In [ ]:
txt = "Hello world!"
#txt[0] ='h'   # a part of a string cannot be changed!

In [ ]:
print(id(txt))
txt = 'h' + txt[1:] # here we create a new object using an existing object, we didn't change its value
print(id(txt))      # the two ids are different, the memory allocated for the old str will be freed by grabage collection
print(txt)

140471033687856
140471032259568
hello world!

In [ ]:
t = (2, 4, 6)
#t.append(8)     # tuple cannot be extended

In [ ]:
#t = t + (8)     # upps it should work

In [ ]:
print(id(t))
t = t + (8,)    # (8) is an integer for the Python
print(t)
print(id(t))

140471032749632
(2, 4, 6, 8)
140471033516336

##Python programs

Interactive use of Python is good for simple tasks or for trying different things. In productive use, Python codes are written into files (modules) and are run as a single command. A complex task is usually divided into smaller code blocks (function or objects), connected by the use of loops and conditional expressions. Before we start to write programs, it is important to highlight a speciality of the syntax of the Python: the hierarchy of code blocks are marked by the number of spaces at the beginning of the program lines, forcing the users to write more readable programs. Usually four spaces are used to indent code blocks. In case of complex programs, an Integrated Development Environment (IDE) is very useful. The simplest IDE is **IDLE** which is written in pure Python. There are several open source IDEs (e.g. Spyder, Eric) and propriatery ones. The minimal requirements to develop Python programs are:

*   Install Python and the neccesarry modules on your machine (there are lots of installation guides for different operating systems)
*   Install a text editor with Python syntax highlighting (for example Notepad++)

Let's create our first program whose objective is to calculate the sum of the first 100 integer numbers (loop with counter). """ marks the start and the end of a multiline comment.

In [ ]:
""" My first program
    the sum of the firs 100 numbers
"""
s = 0
for i in range(1, 101):
  s += i
print(s)

5050

The first three lines of this program are comments. The colon (:) at the end of the fifth line marks the start of a new block, having the following indented lines belonging to this block (in our program, it is a single line block). The *range* function creates an iterator between the to parameters (first inclusive and last exculsive, that's why we write 101 to finish at 100). The *s* variable is intialized by zero, and the integer values are added in the loop. If you copy the code above into a text file (e.g. first.py), you can run it from the command line:

`python first.py`

##Python functions

Python functions are flexible building blocks of a program. Functions have input parameters and can return a single or compound data.

We'll give more solutions to calculate the value of *nth* the factorial.

n! = 1 * 2 * 3 * ... * n

In the first solution we'll use the *while* loop.

In [ ]:
def f(n):
  """ factorial calculation using while loop """
  w = 1
  while n > 0:
    w *= n
    n -= 1
  return w

Let's try our function.

In [ ]:
n = 6
print(n, '!:', f(n))
print(f'15!: {f(15)}')

6 !: 720
15!: 1307674368000

In the second version of factorial, we'll use the *for* loop.

In [ ]:
def f1(n):
  """ factorial calculation using for loop """
  w = 1
  for i in range(1, n+1):     # range(1, n) gives a serie from 1 to n-1!
    w *= i
  return w

Let's try it too.

In [ ]:
n = 6
print(f'{n}!: {f1(n)}')
print(f'15!: {f1(15)}')

6!: 720
15!: 1307674368000

We can use the recursive formula of factorials.

n! = n * (n-1)!

In [ ]:
def f2(n):
  """ recursive factorial calculation """
  if n <= 1:              # stop criteria for recursion
    return 1
  return n * f2(n-1)      # the function calls itself, it is called recursive function

Let's try it.

In [ ]:
print(f'6!: {f2(6)}')

6!: 720

Finally, let's make a function without loop or recursion using Python built in functions.

In [ ]:
import numpy as np
def f3(n):
  """ factorial calculation using built in functions """
  return np.prod(range(1, n+1))

Let's try it.

In [ ]:
f3(6)

720

###Function parameters

A function can have optional parameters with default values. The following function has two obligatory parameters (x, a0) and two optional ones (a1, a2). Optional parameters have to be at the end of the parameter list.

In [ ]:
def quadratic(x, a0, a1=1, a2=0):
  """ claculate the value of a quadratic function """
  return a0 + a1 * x + a2 * x**2

# valid usages
print(quadratic(2.5, 3))              # a1=1 and a2=0
print(quadratic(4.1, 1.5, 3.3))       # a2=0
print(quadratic(-2.3, 5.1, -2, 0.56))

5.5
15.029999999999998
12.662399999999998

The order of the function parameters are given by the function definition. You can change oder when you call the function.

In [ ]:
print(quadratic(a2=2, a1=4, a0=1, x=3))
print(quadratic(3, 5, a2=4))              # x=3, a0=5, a1=1

31
44

##Object Oriented Programming (OOP)

In Python version 3.x, all variables are objects (an instance of a class). Now, we'll create custom classes. In this example, we'll create a class for 2D points.

In [ ]:
class Point2D(object):
  """ class for 2D points """
  def __init__(self, east = 0, north = 0):    # it is the constructor
    """ initialize point

        :param east: first coordinate
        :param north: second coordinate
    """
    self.east = east              # member variable
    self.north = north

  def abs(self):
    """ distance from the origin
        :returns: distance
    """
    return (self.east**2 + self.north**2)**0.5

  def __str__(self):
    """ Convert point to string for prining

        :returns: string with coordinates
    """
    return "{:.3f}; {:.3f}".format(self.east, self.north)

  def __add__(self, p):
    """ sum of two vectors
        :param p: point to add
        :returns: sum as a Point2D
    """
    return Point2D(self.east + p.east, self.north + p.north)

Let's create an istance of the point class.

In [ ]:
p1 = Point2D()  # origin
p2 = Point2D(10,8)
p3 = Point2D(-1, 4)
print(p1.east, p1.north)
print(p1)
print(p2)
print(p2.abs())
print(p2.__doc__)
print('p1 + p2: ', p2 + p3)     # p1 + p2 -> p1.__add__(p2)

0 0
0.000; 0.000
10.000; 8.000
12.806248474865697
 class for 2D points
p1 + p2:  9.000; 12.000

##Samples for Pythonic and non-Pythonic code

**Change the value of two variables**

Non-Pythonic

In [ ]:
a = 5; b = 8
tmp = a; a = b; b = tmp
a, b

(8, 5)

Pythonic

In [ ]:
a, b = b, a # change back to original values
a, b

(5, 8)

**Assign the same value to more variables**

Non-Pythonic

In [ ]:
a = 0; b = 0; c= 0

Pythonic

In [ ]:
a = b = c = 0

But never use it for lists, dictionaries, see next example

In [ ]:
l1 = l2 = []
l1.append(5)
l2          # it is [5] why? check id(l1) and id(l2)

[5]

**Value is in an interval**

Non-Pythonic

In [ ]:
b = 6
if 3 < b and b < 10:
    print('inside')

inside

Pythonic

In [ ]:
if 3 < b < 10:
    print('inside')

inside

**Value is equal to one of a set**

Non-Pythonic

In [ ]:
fruit = 'plum'
if fruit == 'apple' or fruit == 'peach' or fruit == 'plum':
    print('match')

match

Pythonic

In [ ]:
if fruit in ('apple', 'peach', 'plum'):
    print('match')

match

**Multiple conditions**

Non-Pythonic

In [2]:
a = 5; b = "xyz"
if a > 5 or "x" in b or len(b) > 4:
    print("OK")

OK

Pythonic

In [3]:
if any([a > 5, "x" in b, len(b) > 4]):
    print("OK")

OK

Non_Pythonic

In [4]:
if a > 5 and "x" in b and len(b) > 4:
    print("OK")
else:
    print("Failed")

Failed

Pythonic

In [6]:
if all([a > 5, "x" in b, len(b) > 4]):
    print("OK")
else:
    print("Failed")

Failed

**Conditional assigment**

Non-Pythonic

In [ ]:
if b > 2:
  a = 1
else:
  a = 2
print(a)

1

Pythonic

In [ ]:
a = 1 if b > 2 else 2
print(a)

1

**Loops**

Non-Pythonic

In [ ]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

Pythonic

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# one liner
print("\n".join([str(i) for i in range(5)]))

0
1
2
3
4

**Remove non-numeric characters from string**

Non-Pythonic

In [ ]:
s = "1asd2341dse"
s1 = ""
for c in s:
    if c in "0123456789":
        s1 += c
print(s1)

12341

Pythonic

In [ ]:
print(''.join([c for c in s if c in "0123456789"]))

12341

Non-Pythonic

In [ ]:
my_list = ['Joe', 'Fred', 'Tim']
index = 0
while index < len(my_list):
  print(index, my_list[index])
  index += 1

0 Joe
1 Fred
2 Tim

Pythonic

In [ ]:
for index, item in enumerate(my_list):
  print(index, item)

0 Joe
1 Fred
2 Tim

**Most frequent item in a list**

Non-Pythonic

In [ ]:
redundant_list = [ 1, 2, 4, 3, 2, 1, 4, 5, 2, 4, 1, 2, -1]
counter = 0     # to store the count of most frequent item so far
val = None
for act in set(redundant_list):
    act_count = redundant_list.count(act)
    if act_count > counter:
        counter = act_count
        val = act
print(f'Most frequent: {val} ({counter})')

Most frequent: 2 (4)

Pythonic

In [ ]:
val = max(set(redundant_list), key=redundant_list.count)
print(f'Most frequent: {val}')

Most frequent: 2

**Reverse list/string**

Non-Pythonic

In [ ]:
s = 'python'
w = ''
for i in range(len(s)):
  w = s[i] + w
print(w)

nohtyp

Pythonic

In [ ]:
w = s[::-1]
print(w)

nohtyp

**Remove double items from list**

Non-Pythonic

In [ ]:
my_list = [1, 2, 1, 3, 2, 4, 3]
l = []
for i in my_list:
  if i not in l:
    l.append(i)
print(l)

[1, 2, 3, 4]

Pythonic

In [ ]:
l = list(set(my_list))
print(l)

[1, 2, 3, 4]

**Create dictionary from two lists**

Non-Pythonic

In [ ]:
names = ['peter', 'john', 'tim']
ages = [34, 27, 46]

my_dict = {}
for i in range(len(names)):
  my_dict[names[i]] = ages[i]
print(my_dict)

{'peter': 34, 'john': 27, 'tim': 46}

Pythonic

In [ ]:
my_dict = dict(zip(names, ages))
print(my_dict)

{'peter': 34, 'john': 27, 'tim': 46}

**Merge two dictionaries**

Non-Pythonic

In [ ]:
d1 = {'apple': 10, 'peach': 21, 'plum': 8}
d2 = {'banana': 35, 'orange': 22}
d12 = d1.copy()
for fruit in d2:
    d12[fruit] = d2[fruit]
print(d12)

{'apple': 10, 'peach': 21, 'plum': 8, 'banana': 35, 'orange': 22}

Pythonic

In [ ]:
d12 = d1 | d2   # in Python 3.9 and above
print(d12)

{'apple': 10, 'peach': 21, 'plum': 8, 'banana': 35, 'orange': 22}

In [ ]:
d12 = {**d1, **d2}
print(d12)

{'apple': 10, 'peach': 21, 'plum': 8, 'banana': 35, 'orange': 22}

**Count words in text**

Non-Pythonic

In [ ]:
txt = "I remember, I remember, The house where I was born, The little window where the sun Came peeping in at morn"
counts = {}
for word in txt.split():
    word = word.strip(',').lower()
    if word in counts:
        counts[word] += 1
    else:
      counts[word] = 1
print(counts)

{'i': 3, 'remember': 2, 'the': 3, 'house': 1, 'where': 2, 'was': 1, 'born': 1, 'little': 1, 'window': 1, 'sun': 1, 'came': 1, 'peeping': 1, 'in': 1, 'at': 1, 'morn': 1}

Pythonic

In [ ]:
counts = {}
for word in [w.strip().lower() for w in txt.split()]:
    counts.setdefault(word, 0)
    counts[word] += 1
print(counts)

{'i': 3, 'remember,': 2, 'the': 3, 'house': 1, 'where': 2, 'was': 1, 'born,': 1, 'little': 1, 'window': 1, 'sun': 1, 'came': 1, 'peeping': 1, 'in': 1, 'at': 1, 'morn': 1}

**Error handling**

Less-Pythonic

In [ ]:
num = None
while not num:
    num = input("enter a number: ")
    if num.isnumeric():
        num = int(num)
    else:
        print(f"{num} is not a number")
        num = None
print(num)

enter a number: asdfasd
asdfasd is not a number
enter a number: 123
123

More Pythonic

In [ ]:
def get_num():
    val = None
    num = input("enter a number: ")
    try:
        val = int(num)
    except ValueError:
        print(f"{num} is not a number")
    return val

while not (x := get_num()):    # walrus operator in 3.8 or above
    pass
print(x)

enter a number: fgdfd
fgdfd is not a number
enter a number: 345
345