<a href="https://colab.research.google.com/github/OSGeoLabBp/tutorials/blob/master/english/data_processing/lessons/python_in_a_nutshell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python in a Nutshell

##Introduction

Python is a wide spread and popular script language. It supports the object oriented programming, too. Python has several extending modules, for example GDAL, OGR, numpy, OpenCV, open3d, etc. While Python run time environment is available on different operating systems (Linux, OS X, Android, Windows). There are many end user programs which use Python as a script language to extend their functionalities e.g. GIMP, QGIS, Apache, PostgreSQL, GRASS, ... The Python interpreter compiles the source code into so called byte code and those run fast, faster than some other script languages.

The Python 2 version reached end of its lifetime. Its development was closed in 2020. The version 3 development started in 2008, the two version are incompatibile. Nowadays everybody uses the new version for new projects, but there are many projects which have not upgraded to the new version yet. The examples of this document were tested in Python 3, but probably they work in Python 2.7.

Depending on the operating system there are different installation options. For GIS users on Windows the OSGeo4W is optimal choice, beside GIS programs Python is installed with many extension modules. Python is available in the OSGeo4W Shell window.

##Basics

In Jupyter notebook you can execute Python commands in code blocks, the backgroud of a code block is grey and there is a triangle at the top left corner. Click on the triangle to execute code block. The results are displayed below the code block. Comments start with '#' (hashmark).

Simple base matemathical operations:

In [ ]:
5 * 4

20

In [ ]:
3 ** 4    # square

81

In [ ]:
(2 + 8) // 3    # integer division

3

In [ ]:
(2 + 8) / 3

3.3333333333333335

In [ ]:
56.12 // 12.34    # result is float!

4.0

The results of the expressions can be stored in variables:

In [ ]:
a = 5 * 4
l = True    # Bool value
c = None    # special undefined value
s = "Hello world"   # string
print(a, l, c, s)

20 True None Hello world

There is no automatic type conversion for variables and constants in Python (most of the script languages aply automatic type conversion, e.g. JavaScript, awk, Tcl). The type of a variable is not given explicit (no declaration). The type is set at the first assignment. We can query the type of a variable using **type** function.

In [ ]:
b = '16'  # a string variable
#a + b     # 'a' got its value in the previous code block

Above we tried to add an integer and a string value which is not supported.

In [ ]:
type(a)

int

In [ ]:
type(b)

str

In [ ]:
type(b) is str

True

In [ ]:
a + int(b)  # explicit type conversion helps

36

In [ ]:
a * b   # repeat string 'b' 'a' times

'1616161616161616161616161616161616161616'

In [ ]:
s[0]  # first character of a string, tha value of s is 'Hello world'

'H'

In [ ]:
s[1:3]  # second and third characters

'el'

In [ ]:
s[:5]   # first five characters

'Hello'

In [ ]:
s[6:]   # from the first character to the end

'world'

In [ ]:
s[-1]   # last character

'd'

In [ ]:
s[-5:]  # last five characters

'world'

In [ ]:
len(s)    # length of string

11

In [ ]:
s[:5] + ' Dolly'   # concatenation of strings

'Hello Dolly'

Mathematical (trigonometrical) functions are in external module. You have to import **math** module.

In [ ]:
import math
math.sin(1)

0.8414709848078965

In [ ]:
print(f'{math.sin(1):6.4f}')  # formatted output

0.8415

Modules can be imported two ways. The **import** *module_name* will import everything from the module and you can refere to a member of the module using *module_name*_*member_name*. The other method when only some specified memebers are imported using **from** *module_name* **import** *member_name* form. This case you need not to put the module name in front of the member name, but yoou have to be careful to avoid name collition. In the second form you specify a comma separated list of member names.

In [ ]:
from math import cos
cos(1)

0.5403023058681398

##Python data structures

The base data types of Python can be divided into two groups, mutable and unmutable.

Mutable objects: data can be change in place patially

list, set, dictionary

---

Immutable object: the stored data cannot be changed

bool, int, float, string, tuple

The usage of simple variable types (e.g. bool, int, float) is similar to all other programming language. We'll discuss only compound types (e.g. list, tuple, dictionary, set). From Python3 even the simple data types are represented by objects.

###Lists

Lists are ordered and mutable Python container. Lists can contain elements of different types, even other lists. The items are indexed starting from zero.

In [ ]:
l0 = []       # create an empty list
l1 = list()   # create an empty list
l2 = ['alma', 5, 4] # differenc data types in the same list
print(l2[0])        # access memebers by index
print(l2[1:])       # index ranges similar to strings
print(len(l2))
l2[0] = 3           # lists are mutable
print(l2)
l2.append(5)        # extending list
print(l2)
l2[0:3] = [1]       # replace a range of list with another list
print(l2)
del l2[0]           # delete list item
print(l2)
l3 = [[1, 2], [6, 4]] # list of lists
print(l3[0], l3[0][1])
l4 = l3 + [3, 7]    # concatenating lists
print(l4)
l4 = l3 + [[3, 7]]
print(l4)

alma
[5, 4]
3
[3, 5, 4]
[3, 5, 4, 5]
[1, 5]
[5]
[1, 2] 2
[[1, 2], [6, 4], 3, 7]
[[1, 2], [6, 4], [3, 7]]

You can use help to get more information about lists.

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

There are three operators related to lists:

*   **+** concatenate lists
*   **\*** repeat the list (similar to strings)
*   **in** is value in the list

Open a new code block and try a operators above. Studiing the list help try some other methods of list objects (e.g. pop, sort, reverse)

###Tuples

List like immutable ordered data type.

In [ ]:
t = (65, 6.35)    # create a new tuple, brackets are not obligatory -> t = 65, 6.35
print(t[0])       # indexing
u = tuple()       # empty tuple
v = 2,            # comma is neccessary to creat a list of one item
print(v)

65
(2,)

###List comprehesion

List comprehension is an effective tool to apply the same operation for all elements of the list/tuple.

In [ ]:
l = [2, 6, -3, 4]
l2 = [x**2 for x in l]    # square of all mebers of the list into a new list
print(l2)
l3 = (i**0.5 for i in l if i > 0) # square root of positive members of list
print(l3)
print(tuple(l3))

[4, 36, 9, 16]
<generator object <genexpr> at 0x7f1ca916a950>
(1.4142135623730951, 2.449489742783178, 2.0)

the map function is similar, but a function can be applied for each member of the list.

In [ ]:
from math import sin
l4 = map(sin, l)
print(l4)
print(tuple(l4))
print([a for a in l if a % 2])    # odd numbers from the list

<map object at 0x7f1ca91b40d0>
(0.9092974268256817, -0.27941549819892586, -0.1411200080598672, -0.7568024953079282)
[-3]

###Sets

Sets are mutable unordered data types. We can create simply a set from a string or a list.

In [ ]:
a = "abcabdseacbfds"
s = set(a)            # create a set repeated values stored once
print(s)
t = set((1, 3, 2, 4, 3, 2, 5, 1))
print(t)
e = set()             # empty set
u = set(['alma', 'szilva', 'barack', 'alma'])
print(u)

{'d', 'e', 'f', 's', 'a', 'c', 'b'}
{1, 2, 3, 4, 5}
{'szilva', 'barack', 'alma'}

There are operators for sets, difference, union, intersection and symmetrical difference.

In [ ]:
a = set('abcdefgh')
b = set('fghijklm')
print(a - b)          # difference of sets
print(a | b)          # union of sets
print(a & b)          # intersection of sets
print(a ^ b)          # symmetrical difference

{'d', 'e', 'a', 'c', 'b'}
{'h', 'd', 'e', 'k', 'g', 'j', 'f', 'a', 'm', 'i', 'c', 'b', 'l'}
{'f', 'h', 'g'}
{'b', 'd', 'k', 'e', 'j', 'a', 'm', 'i', 'c', 'l'}

###Dictionaries

Dictionaries are mutable unordered date types. each member of a dictionary has a key, which we can use for index, key value can be string or number. The members of a dictionary can be lists or dictionaries.

In [ ]:
dic = {}            # empty dictionary
dic['first'] = 4    # adding new key and value to the list
dic[5] = 123
print(dic)
dic['first'] = 'apple'  # new value for a key
print(dic)
print('first' in dic)   # is the key in dic?
d = {'b': 1, 12: 4, 'lista': [1, 5, 8]} # initialization
t = {(1,1): 2, (1,2): 4, (2,1): -1, (2,2): 6} # keys are tuples
print(t[1,1])

{'first': 4, 5: 123}
{'first': 'apple', 5: 123}
True
2

###Some restrictions for immutable objects:

In [ ]:
txt = "Hello world!"
#txt[0] ='h'   # a part of a string cannot be changed!

In [ ]:
print(id(txt))
txt = 'h' + txt[1:] # here we create a new object using an existing object, we didn't change its value
print(id(txt))      # the two ids are different, the memory allocated for the old str will be freed by grabage collection
print(txt)

139761072919088
139761072282928
hello world!

In [ ]:
t = (2, 4, 6)
#t.append(8)     # tuple cannot be extended

In [ ]:
#t = t + (8)     # upps it should work

In [ ]:
print(id(t))
t = t + (8,)    # (8) is an integer for the Python
print(t)
print(id(t))

139761072965664
(2, 4, 6, 8)
139761072350800

##Python programs

Interactive use of Python is good for simple tasks or to try something. In productive use Python codes are written into files (modules) and we run them as a single command. A complex task is usually divided into smaller code blocks (function or objects) and we use loops and conditional expressions. Before we start to write programs I have to highlight a speciality of the syntax of the Python, the hierarchi of code blocks are marked by the number of spaces at the begining of program lines. This force us to write more readable programs. Usually four spaces are used to indent code blocks. In case of complex programs an Integrated Development Environment (IDE) is very usefull. The simplest IDE id **IDLE** which is written pure Python. There are several open source IDEs (e.g. Spyder, Eric) and propriatery ones. The minimal requirements to develop Python programs are:

*   Install Python and the neccesarry modules on your machine (there are lots of installation guides for different operatin systems)
*   Install a text editor with Python syntax highlighting (for example Notepad++)

Let's create our first program to calculate the sum of the first 100 integer numbers (loop with counter). """ marks the start and end of a multiline comment.

In [ ]:
""" My first program
    the sum of the firs 100 numbers
"""
s = 0
for i in range(1, 101):
  s += i
print(s)

5050

The first three lines of this program is a comment. The colon (:) at the end of the line marks the start of a new block and the following indented lines belong to this block, in out program it is a single line block. The *range* function creates an iterator between the to parameters (first inclusive and last exculsive, that's why we write 101 to finish at 100). *s* variable is intialized by zero and the integer values are added in the loop. If you copy the code above into a text file (e.g. first.py), you can run it from the command line:

`python first.py`

##Python functions

Python functions are flexible building blocks of a program. Functions have input parameters and can return a single or compound data.

We'll give more solutions to calculate the value of *nth* the factorial.

n! = 1 * 2 * 3 * ... * n

In the first solution we'll use *while* loop.

In [ ]:
def f(n):
  """ factorial calculation using while loop """
  w = 1
  while n > 0:
    w *= n
    n -= 1
  return w

Let's try our function.

In [ ]:
n = 6
print(n, '!:', f(n))
print(f'15!: {f(15)}')

6 !: 720
15!: 1307674368000

In the second version of factorial we'll use *for* loop.

In [ ]:
def f1(n):
  """ factorial calculation using for loop """
  w = 1
  for i in range(1, n+1):     # range(1, n) gives a serie from 1 to n-1!
    w *= i
  return w

Let's try it, too.

In [ ]:
n = 6
print(f'{n}!: {f1(n)}')
print(f'15!: {f1(15)}')

6!: 720
15!: 1307674368000

We can use the recursive formula of factorials.

n! = n * (n-1)!

In [ ]:
def f2(n):
  """ recursive factorial calculation """
  if n <= 1:              # stop criteria for recursion
    return 1
  return n * f2(n-1)      # the function calls itself, it is called recursive function

Let's try it.

In [ ]:
print(f'6!: {f2(6)}')

6!: 720

Finally let's make a function without loop or recursion using Python built in functions.

In [ ]:
import numpy as np
def f3(n):
  """ factorial calculation using built in functions """
  return np.prod(range(1, n+1))

Let' try it.

In [ ]:
f3(6)

720

##Object Oriented Programming (OOP)

In Python version 3.x all variables are objects (an instance of a class). Now we'll create custom classes. In this example we'll create a class for 2D points.

In [ ]:
class Point2D(object):
  """ class for 2D points """
  def __init__(self, east = 0, north = 0):    # it is the constructor
    """ initialize point

        :param east: first coordinate
        :param north: second coordinate
    """
    self.east = east              # member variable
    self.north = north

  def abs(self):
    """ distance from the origin
        :returns: distance
    """
    return (self.east**2 + self.north**2)**0.5

  def __str__(self):
    """ Convert point to string for prining

        :returns: string with coordinates
    """
    return "{:.3f}; {:.3f}".format(self.east, self.north)

  def __add__(self, p):
    """ sum of two vectors
        :param p: point to add
        :returns: sum as a Point2D
    """
    return Point2D(self.east + p.east, self.north + p.north)

Let's create an istance of the point class.

In [ ]:
p1 = Point2D()  # origin
p2 = Point2D(10,8)
p3 = Point2D(-1, 4)
print(p1.east, p1.north)
print(p1)
print(p2)
print(p2.abs())
print(p2.__doc__)
print('p1 + p2: ', p2 + p3)     # p1 + p2 -> p1.__add__(p2)

0 0
0.000; 0.000
10.000; 8.000
12.806248474865697
 class for 2D points
p1 + p2:  9.000; 12.000

##Samples for Pythonic and non-Pythonic code

**Change the value of two variables**

Non-Pythonic

```
tmp = a; a = b; b = tmp
```
Pythonic

```a, b = b, a```

**Assign the same value to more variables**

Non-Pythonic

```
a = 0; b = 0; c= 0
```

Pythonic

```
a = b = c = 0
```

**Value is in an interval**

Non-Pythonic

```
if a < b and b < c:
```

Pythonic

```
if a < b < c:
```

**Value is equal to one of a set**

Non-Pythonic

```
if a == 'apple' or a == 'peach' or a == 'plum':
```

Pythonic

```
if a in ('apple', 'peach', 'plum'):
```

**Conditional assigment**

Non-Pythonic

```
if b > 2:
  a = 1
else:
  a = 2
```

Pythonic

```
a = 1 if b > 2 else 2
```

**Loops**

Non-Pythonic
```
i = 0
while i < 10:
  print(i)
  i += 1
```

Pythonic

```
for i in range(10):
  print(i)
```

Non-Pythonic

```
my_list = ['Joe', 'Fred', 'Tim']
index = 0;
for index < len(my_list):
  print(index, my_list[index])
```

Pythonic

```
my_list = ['Joe', 'Fred', 'Tim']
for index, item in enumerate(my_list):
  print(index, item)
```

**Reverse list/string**

Non-Pythonic

```
s = 'python'
w = ''
for i in range(len(s)-1, -1, -1):
  w = w + s[i]
```

Pythonic

```
s = 'python'
w = s[::-1]
```

**Remove double items from list**

```
my_list = [1, 2, 1, 3, 2, 4, 3]
l = []
for i in my_list:
  if i not in l:
    l.append(i)
```

Pythonic
```
my_list = [1, 2, 1, 3, 2, 4, 3]
l = list(set(my_list))
```